#filterArea {
    position: absolute;
    top: 0;
    height: 100px;
    right: 0;
    width: 400px;
    background-color: #184242;
}

.tabContent {
    position: absolute;
    top: 100px;
    bottom: 55px;
    right: 0;
    width: 400px;
    background-color: #184242;
    color: #ddf7f7;
    overflow: auto;
    display: none;
}

.tabContent.active {
    display: block;
}

#confSelectArea {
    position: absolute;
    height: 25px;
    bottom: 0;
    right: 0;
    width: 400px;
    background-color: #184242;
    color: #ddf7f7;
    overflow: hidden;
}

#tabsSelection {
    position: absolute;
    height: 30px;
    bottom: 25px;
    right: 0;
    width: 400px;
    background-color: #184242;
    color: #ddf7f7;
    overflow: auto;
    border-top: 2px solid white;
}

#tabsSelection ul {
    margin: 0;
}

#tabsSelection ul li {
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid white;
    border-top: none;
    margin-top: -2px;
    padding: 5px;
    cursor: pointer;
}

#tabsSelection li.active {
    background-color: #ddf7f7;
    color: #184242;
    cursor: default;
}

#drawArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 400px;
    background-color: #c7f5f5;
}

#filterArea > input{
    display: block;
    height: 25px;
    border-radius: 10px;
    padding-left: 5px;
    margin: 10px;
    width: 370px;
}
#filterArea > button{
    display: block;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.tabContent > header {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}
.tabContent > details {
    margin-left: 10px;
}
.tabContent > details > summary {
    cursor: pointer;
}

.groupDetail {
    padding: 10px;
}

.colorBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 5px;
    margin-bottom: -5px;
    cursor: pointer;
}

#confSelectArea > select {
    width: 100%;
    height: 25px;
}

.linkToItem {
    cursor: pointer;
}
.linkToItem:hover {
    text-decoration: underline;
}

.fileItem {
    cursor: pointer;
    rx: 3;
    ry: 3;
}
.fileItem~text {
    cursor: pointer;
}

.active .fileItem {
    fill: rgba(250, 200, 50, 0.7);
}

.fileItem:hover {
    fill: rgba(250, 200, 50, 0.9);
}

.arrow-link {
    stroke: #051122;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
}

.arrows-highlight .arrow-link {
    stroke: rgba(250, 180, 0, 0.8);
    stroke-width: 3;
}
.arrow-link.parentLink {
    stroke: rgba(100, 220, 50, 0.8);
}
.arrow-link.active {
    stroke: rgba(255, 100, 0, 0.8);
    stroke-width: 3.2;
}
.arrow-link:hover {
    stroke: rgba(255, 150, 50, 0.9);
    stroke-width: 3.5;
}